<strong>Olá {{ organizer }},</strong>
<p>Foi realizada uma nova Inscrição no Encontro abaixo:</p>
<p>
  <strong>Título: </strong> {{ title }} <br/>
  <strong>Usuário: </strong> {{ user }} <br/>
  <strong>Data/Hora: </strong> {{ date }} <br/>
</p>
